<html>
    <head>
	<title> Pagina ejemplo de plantilla </title>
    </head>
    <body>
	<hl> Esta es una página de ejemplo a partir de una planitlla </hl>
	<br>
	<p> El hostname es "{{ ansible_hostname }}" </p>
	<p> La fecha es "{{ ansible_date_time.date }}" y la hora es "{{ ansible_date_time.time }}" </p>
	<p> La IP es "{{ ansible_host }}" </p>
    </body>
</html>
